{% extends 'base.html.twig' %}


{% block title %}New Universite{% endblock %}

{% block body %}
<div class="row">
    <div  style="display: list-item;align-items: normal;justify-content: normal;margin-top: 15px; padding: 10px;">

        <div class="card">
            <div class="card-body">
    <h1 style="color: coral">Create new Universite</h1>

    {{ include('universite/_form.html.twig') }}

    <a href="{{ path('app_universite_index') }}" >back to list</a>
{% endblock %}
