
{% extends 'backbase.html.twig' %}
{% block title %}New Evenement{% endblock %}
{% block body %}
    <h1 class="btn-secondary">Create new Evenement</h1>

    {{ include('evenement/_form.html.twig') }}


{% endblock %}
