
{% extends 'base.html.twig' %}
{% block title %}Edit Evenement{% endblock %}

{% block body %}
<div class="row">
    <div  style="display: list-item;align-items: normal;justify-content: normal;margin-top: 15px; padding: 10px;">

        <div class="card">
            <div class="card-body">
    <h1 style="font-style:italic;" class="" >Edit Evenement</h1>

    {{ include('evenement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_evenement_index') }}" class="btn-secondary" style="font-style:italic">back to list</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
