
{% extends 'base.html.twig' %}
{% block title %}New Evenement{% endblock %}
{% block body %}
<div class="row">
    <div  style="display: list-item;align-items: normal;justify-content: normal;margin-top: 15px; padding: 10px;">

        <div class="card">
            <div class="card-body">
    <h1 style="color: coral" align="">Create new Evenement</h1>
                {% for message in app.flashes('info') %}
                    <div class="alert alert-danger"
                         style="width: 100%;text-align: center;font-size: 30px;font-weight: bolder;">
                        {{ message }}
                    </div>
                {% endfor %}
    {{ include('evenement/_form.html.twig') }}
          <button>      <a href="/evenement/" class="btn btn-success "> <i class="fas fa-check">Back To List</i> </a></button>


{% endblock %}
