{% extends 'backbase.html.twig' %}
{% block body %}

{{ form_start(UserForm, {'attr': {'novalidate': 'novalidate'}}) }}
{# {{form(UserForm)}} #}
{{ form_widget(UserForm) }}
<button type = "submit">Submit</button>

{{form_end(UserForm)}}
{% endblock %}