{% extends 'frontbase.html.twig' %}
{% block signin %}
{% endblock %}

{% block programs %}
<div class="row mb-5 justify-content-center">
          <div class="col-lg-7 text-center"  data-aos="fade-up" data-aos-delay="">
            <h2 class="section-title">Our Favorites</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam repellat aut neque! Doloribus sunt non aut reiciendis, vel recusandae obcaecati hic dicta repudiandae in quas quibusdam ullam, illum sed veniam!</p>
          </div>
        </div>
	<div class="card">
		<div class="card-body">
			<h4 class="card-title mb-0">Recent Activity</h4>
		</div>
		<ul class="list-style-none">
			<li class="d-flex no-block card-body">
				<i class="mdi mdi-check-circle fs-4 w-30px mt-1"></i>
				<div>
					<a href="#" class="mb-0 font-medium p-0">Lorem ipsum dolor sit amet, consectetur adipiscing
						                        elit.</a>
					<span class="text-muted">dolor sit amet, consectetur adipiscing</span>
				</div>
				<div class="ms-auto">
					<div class="tetx-right">
						<h5 class="text-muted mb-0">20</h5>
						<span class="text-muted font-16">Jan</span>
					</div>
				</div>
			</li>
		</ul>
	</div>
{% endblock %}
